<div class="topnav">
  <div class="ui huge menu">

    <a class="navbar-brand" href="/">
      <img src="assets/logo.jpg" height="150" alt="mdb logo">
    </a>
    <div class="ui form">
      <div class="two fields">
        <div class="field">
          <label>JOBS</label>
          <div>
            <datalist id="suggestions1">
              <% @jobs.each do |j| %>
                <option><%= j %></option>
              <% end %>
            </datalist>
          </div>
          <div>
            <input  autoComplete="on" placeholder="JOBS KEWORDS" list="suggestions1"/>
          </div>
        </div>
        <div class="field">
          <label>ENTER LOCATION</label>

          <div>
            <datalist id="suggestions">
              <% @cities.each do |c| %>
                <option><%= c[:city] + ", " + c[:state]%></option>
              <% end %>
            </datalist>
          </div>
          <div>
            <input  autoComplete="on" placeholder="Location" list="suggestions"/>
          </div>
        </div>
        <div class="center">

          <div class="ui blue button">SEARCH</div>
        </div>
      </div>

    </div>
    <div class="right menu">
      <div class="item">
        <a href="/users/sign_in">
        <div class="ui teal button">Sign In</div>
        </a>
      </div>
      <div class="item">
        <div class="ui red button">Employer Log In</div>

      </div>
    </div>
  </div>
</div>
<section class="cover text-center">

  <div class="cover-container pb-5">
    <div class="cover-inner container">
      <h1 class="jumbotron-heading">Find Your Kind Of <strong>Jobs</strong></h1>

    </div>
  </div>
</section>
